<h1>Contact</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control mb4" name="Email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="Email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <div *ngIf="formData.controls['Email'].invalid && (formData.controls['Email'].dirty || formData.controls['Email'].touched)" class="alert alert-danger">
                        <div *ngIf="formData.controls['Email'].errors.required">
                            Email is required.
                        </div>
                        <div *ngIf="formData.controls['Email'].errors.email">
                            Email format should look like "name@domaine.extension".
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fullname">Full Name</label>
                    <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
                    <div *ngIf="formData.controls['Fullname'].invalid && (formData.controls['Fullname'].dirty || formData.controls['Fullname'].touched)" class="alert alert-danger">
                        <div *ngIf="formData.controls['Fullname'].errors.required">
                            Name is required.
                        </div>
                        <div *ngIf="formData.controls['Fullname'].errors.minlength">
                            Message must be at least 3 characters long.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="comment">Message</label>
                    <textarea class="form-control" formControlName="Message" name="Comment"></textarea>
                    <div *ngIf="formData.controls['Message'].invalid && (formData.controls['Message'].dirty || formData.controls['Message'].touched)" class="alert alert-danger">
                        <div *ngIf="formData.controls['Message'].errors.required">
                            Message is required.
                        </div>
                        <div *ngIf="formData.controls['Message'].errors.minlength">
                            Message must be at least 5 characters long.
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <div class="alert alert-danger">
                    Il est impossible d'utiliser ce service pour le moment.
                </div>
                <div *ngIf="" class="alert alert-success">
                    Il est impossible d'utiliser ce service pour le moment.
                </div>
            </form>
        </div>
    </div>
</div>
