<h1>La ville de Grenoble</h1>

<!-- Loading -->
<div *ngIf="!load; else err">
    <mat-spinner color="primary">
    </mat-spinner>
</div>

<!-- Error -->
<ng-template #err>
    <div class="alert alert-danger" *ngIf="error; else content">
        Une erreur est survenue.
        <br>
        Retenter plus tard ou contacter un administrateur.
    </div>
</ng-template>

<ng-template #content>
    <div class="alert alert-danger">
        <p>Il est impossible d'utiliser ce service pour le moment.</p>
    </div>
    <!-- No data -->
    <ng-template #nodata>
        <div class="alert alert-warning" *ngIf="!error; else err">
        <p>Il n'y a aucune donnée pour le moment</p>
        </div>
    </ng-template>
</ng-template>