<h2>Actualités</h2>

<!-- Loading -->
<div *ngIf="!load; else err">
    <mat-spinner color="primary">
    </mat-spinner>
</div>

<!-- Error -->
<ng-template #err>
    <div class="alert alert-danger" *ngIf="error; else content">
        Une erreur est survenue.
        <br>
        Retenter plus tard ou contacter un administrateur.
    </div>
</ng-template>

<ng-template #content>
    <div *ngIf="_news.length>0; else nodata">
        <div *ngFor="let item of _news">
            <h4>{{ item.title }} </h4><small>{{ item.date }}</small>
            <p *ngFor="let sentence of item.description">{{ sentence }}</p>
        </div>
    </div>
    <!-- No data -->
    <ng-template #nodata>
        <div class="alert alert-warning" *ngIf="!error; else err">
        <p>Il n'y a aucune donnée pour le moment</p>
        </div>
    </ng-template>
</ng-template>

