<mat-sidenav-container class="sidenav-container">
<mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <app-main-menu></app-main-menu>
    </mat-nav-list>
    <small>Hébergé par notre partenaire <a href="https://www.o2switch.fr" target="_blank">o2switch</a></small>
</mat-sidenav>
<mat-sidenav-content>
    <mat-toolbar color="primary">
    <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>{{ txt.SiteName }}</span>
    </mat-toolbar>
    <div class="router-outlet-content">
    <!-- WARNING : Components are not load into div router-outlet but just after -->
    <router-outlet></router-outlet>
    </div>
</mat-sidenav-content>
</mat-sidenav-container>