<h1 mat-dialog-title>{{ song.name }}</h1>
<div mat-dialog-content>
      <div *ngFor="let para of song.lyrics">
            <p *ngIf="!para"><br></p>
            <p *ngIf="para">{{ para }}</p>
      </div>
</div>
<mat-dialog-actions *ngIf="song.link">
      <a (click)="open(song.link)" [title]="song.link.title"><button mat-button>Musique</button></a>
</mat-dialog-actions>
