::ng-deep.mat-dialog-container {
    max-height: 90vh;
    max-width: 100vh;
}

.centered-container {
    text-align: center;
}

img {
    max-width: 40%;
    max-height: 40%;
    margin-bottom: 1%;
}