<h1>Les chansons</h1>

<!-- Loading -->
<div *ngIf="!load; else err">
  <mat-spinner color="primary">
  </mat-spinner>
</div>

<!-- Error -->
<ng-template #err>
  <div class="alert alert-danger" *ngIf="error; else content">
      Une erreur est survenue.
      <br>
      Retenter plus tard ou contacter un administrateur.
  </div>
</ng-template>

<ng-template #content>
  <div class='list-card' *ngIf="_songs.length>0; else nodata">
    <mat-card *ngFor="let sc of _songs" class="card" (click)="openCard(sc)">
      <mat-card-header>
        <mat-card-title>{{ sc.name }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</ng-template>

<!-- No data -->
<ng-template #nodata>
  <div class="alert alert-warning" *ngIf="!error; else err">
  <p>Il n'y a aucune donnée pour le moment</p>
  </div>
</ng-template>