<h1>Les Associations</h1>

<!-- Loading -->
<div *ngIf="!load; else err">
  <mat-spinner color="primary">
  </mat-spinner>
</div>

<!-- Error -->
<ng-template #err>
  <div class="alert alert-danger" *ngIf="error; else content">
      Une erreur est survenue.
      <br>
      Retenter plus tard ou contacter un administrateur.
  </div>
</ng-template>

<ng-template #content>
  <div *ngIf="_associations.length>0; else nodata1">
    <div *ngFor="let association of _associations">
      <h2>{{ association.shortName }}</h2>
      <mat-card class="card" (click)="openCard(association)">
        <mat-card-header>
          <img mat-card-avatar *ngIf="association.imgPath" [src]="imgFolderPath + association.imgPath" alt="Avatar {{ association.shortName }}">
          <mat-card-title>{{ association.shortName }}</mat-card-title>
          <mat-card-subtitle>{{ association.fullName }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <div class='list-card'>
        <mat-card class="card" *ngFor="let cellule of association.cellules" (click)="openCard(cellule)">
            <mat-card-header>
              <img mat-card-avatar *ngIf="cellule.imgPath" [src]="imgFolderPath + cellule.imgPath" alt="Avatar {{ cellule.shortName }}">
              <mat-card-title>{{ cellule.shortName }}</mat-card-title>
              <mat-card-subtitle>{{ cellule.fullName }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
  <!-- No data -->
  <ng-template #nodata1>
    <h2>Les assoications de polytech Grenoble</h2>
    <div class="alert alert-warning" *ngIf="!error; else err">
      <p>Il n'y a aucune donnée pour le moment</p>
    </div>
  </ng-template>

  <h2>Cellules indépendantes</h2>
  <div class='list-card' *ngIf="_cellIndep.length>0; else nodata2">
    <mat-card class="card" *ngFor="let cell of _cellIndep" (click)="openCard(cell)">
      <mat-card-header>
        <img mat-card-avatar *ngIf="cell.imgPath" [src]="imgFolderPath + cell.imgPath" alt="Avatar {{ cell.shortName }}">
        <mat-card-title>{{ cell.shortName }}</mat-card-title>
        <mat-card-subtitle>{{ cell.fullName }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <!-- No data -->
  <ng-template #nodata2>
    <div class="alert alert-warning" *ngIf="!error; else err">
    <p>Il n'y a aucune donnée pour le moment</p>
    </div>
  </ng-template>
</ng-template>
