<h1 mat-dialog-title>{{ branch.shortName }} : {{ branch.fullName }}</h1>
<div mat-dialog-content>
  <div class="centered-container">
    <img *ngIf="branch.imgPath" [src]="imgFolderPath + branch.imgPath" alt="Avatar {{ branch.shortName }}">
  </div>
  <div *ngIf="branch.description">
    <p *ngFor="let para of branch.description">{{ para }}</p>
  </div>
</div>
