<!-- Loading -->
<div *ngIf="!load; else err">
    <mat-spinner color="primary">
    </mat-spinner>
</div>
  
<!-- Error -->
<ng-template #err>
    <div class="alert alert-danger" *ngIf="error; else content">
        Une erreur est survenue.
        <br>
        Retenter plus tard ou contacter un administrateur.
    </div>
</ng-template>

<ng-template #content>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sélectionnez vos groupes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="mat-app-background">
                <mat-form-field>
                    <mat-select placeholder="Groupe d'anglais 3a" [(ngModel)]="selectedEnglishGrp" name="englishGrp">
                        <mat-option>----</mat-option>
                        <mat-option *ngFor="let item of listEnglishGrp" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Filière" [(ngModel)]="selectedClass" name="class">
                        <mat-option>----</mat-option>
                        <mat-option *ngFor="let item of resources | keyvalue" [value]="item.key">
                            {{ item.value["branch"] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Année" [disabled]="!selectedClass" [(ngModel)]="selectedYear" name="year">
                        <mat-option>----</mat-option>
                        <mat-option *ngFor="let item of ((resources[selectedClass] || {}) ['years'] || {}) | keyvalue" [value]="item.key">
                            {{item.value["year"]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Groupes" multiple [disabled]="!selectedYear || !selectedClass" [(ngModel)]="selectedGroups" name="groups">
                        <mat-option *ngFor="let item of ((((resources[selectedClass] || {}) ['years'] || {})[selectedYear] || {})['group'] || {}) | keyvalue" [value]="item.value['id']">
                            {{item.value["name"]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>                
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [disabled]="!selectedGroups" (click)="emit()">
                <mat-icon aria-label="submit">calendar_today</mat-icon>
                <span>Charger l'emploi du temps</span>
            </button>                
        </mat-card-actions>  
    </mat-card>
</ng-template>


