<h1 mat-dialog-title *ngIf="association.fullName">{{ association.shortName }} : {{ association.fullName }}</h1>
<h1 mat-dialog-title *ngIf="!association.fullName">{{ association.shortName }}</h1>
<div mat-dialog-content>
  <div class="centered-container">
    <img *ngIf="association.imgPath" [src]="imgFolderPath + association.imgPath" alt="Avatar">
  </div>
  <div *ngIf="association.description">
    <p *ngFor="let para of association.description">{{ para }}</p>
  </div>
</div>
<mat-dialog-actions>
  <app-follow-us [_links]="association.socialNetworks"></app-follow-us>
</mat-dialog-actions>
