<h1>Les Raccourcis</h1>
<!-- Loading -->
<div *ngIf="!load; else err">
    <mat-spinner color="primary">
    </mat-spinner>
</div>

<!-- Error -->
<ng-template #err>
    <div class="alert alert-danger" *ngIf="error; else content">
        Une erreur est survenue.
        <br>
        Retenter plus tard ou contacter un administrateur.
    </div>
</ng-template>

<ng-template #content>
    <div>
        <p>Les identifiants Agalan sont ceux fournis lors de votre inscription à l'UGA.</p>
    </div>

    <h2>Les raccourcis communs au filières</h2>
    <div *ngIf="_shortcutCommun.length>0; else nodata1">
        <mat-card *ngFor="let sc of _shortcutCommun" class="card" (click)="openCard(sc.link)">
            <mat-card-header>
                <mat-card-title>{{ sc.name }}</mat-card-title>
                <mat-card-subtitle>{{ sc.connection }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{ sc.description }}</p>
                <p>Accés : {{ sc.access }}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- No data -->
    <ng-template #nodata1>
        <div class="alert alert-warning" *ngIf="!error; else err">
        <p>Il n'y a aucune donnée pour le moment</p>
        </div>
    </ng-template>
    
    <h2>Les raccourcis de la filière INFO</h2>
    <div *ngIf="_shortcutInfo.length>0; else nodata2">
        <mat-card *ngFor="let sc of _shortcutInfo" class="card" (click)="openCard(sc.link)">
            <mat-card-header>
              <mat-card-title>{{ sc.name }}</mat-card-title>
              <mat-card-subtitle>{{ sc.connection }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{ sc.description }}</p>
                <p>Accés : {{ sc.access }}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- No data -->
    <ng-template #nodata2>
        <div class="alert alert-warning" *ngIf="!error; else err">
        <p>Il n'y a aucune donnée pour le moment</p>
        </div>
    </ng-template>
    
    <h2>Les raccourcis de la filière TIS</h2>
    <div *ngIf="_shortcutInfo.length>0; else nodata3">
        <mat-card *ngFor="let sc of _shortcutTis" class="card" (click)="openCard(sc.link)">
            <mat-card-header>
              <mat-card-title>{{ sc.name }}</mat-card-title>
              <mat-card-subtitle>{{ sc.connection }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{ sc.description }}</p>
                <p>Accés : {{ sc.access }}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- No data -->
    <ng-template #nodata3>
        <div class="alert alert-warning" *ngIf="!error; else err">
        <p>Il n'y a aucune donnée pour le moment</p>
        </div>
    </ng-template>
</ng-template>