<h1>Les filières</h1>

<!-- Loading -->
<div *ngIf="!load; else err">
  <mat-spinner color="primary">
  </mat-spinner>
</div>

<!-- Error -->
<ng-template #err>
  <div class="alert alert-danger" *ngIf="error; else content">
      Une erreur est survenue.
      <br>
      Retenter plus tard ou contacter un administrateur.
  </div>
</ng-template>

<ng-template #content>
  <div class='list-card' *ngIf="_branchs.length>0; else nodata">
    <mat-card class="card" *ngFor="let item of _branchs" (click)="openCard(item)">
        <mat-card-header>
          <img mat-card-avatar *ngIf="item.imgPath" [src]="imgFolderPath + item.imgPath" alt="Avatar {{ item.shortName }}">
          <mat-card-title>{{ item.shortName }}</mat-card-title>
          <mat-card-subtitle>{{ item.fullName }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
  </div>
  <!-- No data -->
  <ng-template #nodata>
    <div class="alert alert-warning" *ngIf="!error; else err">
      <p>Il n'y a aucune donnée pour le moment</p>
    </div>
  </ng-template>
</ng-template>