<h1>Accueil</h1>
<div>
    <h2>Le mot d'intro</h2>
    <p *ngFor="let sentence of bdeData">{{ sentence }}</p>
</div>
<div>
    <h2>L'école</h2>
    <p>
        <a href="https://www.polytech-grenoble.fr/menu-principal/l-ecole/" target="_blank"><button class="btn btn-outline-secondary">Site officiel : Polytech Grenoble</button></a>
    </p>
    <div class="socialNetworksPolytech">
        <app-follow-us [_links]="polytech"></app-follow-us>
    </div>
</div>
<div>
    <h2>Information concernant le site web</h2>
    <p>
        Ce site est le site officiel du BDE Polytech Grenoble.
    </p>    
</div>

