<h1>Les partenariats</h1>

<!-- Loading -->
<div *ngIf="!load; else err">
  <mat-spinner color="primary">
  </mat-spinner>
</div>

<!-- Error -->
<ng-template #err>
  <div class="alert alert-danger" *ngIf="error; else content">
    Une erreur est survenue.
    <br>
    Retenter plus tard ou contacter un administrateur.
  </div>
</ng-template>

<ng-template #content>
  <h2>Nos partenaires principaux</h2>
  <div class='list-card' *ngIf="_partnerships.length>0; else nodata">
      <mat-card class="card" *ngFor="let item of _partnerships" (click)="openCard(item)">
          <mat-card-header>
            <img mat-card-avatar *ngIf="item.imgPath" src="{{ imgFolderPath + item.imgPath }}" alt="Avatar {{ item.name }}">
            <mat-card-title>{{ item.name }}</mat-card-title>
          </mat-card-header>
      </mat-card>
  </div>
  <!-- No data -->
  <ng-template #nodata>
    <div class="alert alert-warning" *ngIf="!error; else err">
    <p>Il n'y a aucune donnée pour le moment</p>
    </div>
  </ng-template>
</ng-template>
