<h1>Les évènements</h1>

<!-- Loading -->
<div *ngIf="!load; else err">
  <mat-spinner color="primary">
  </mat-spinner>
</div>

<!-- Error -->
<ng-template #err>
  <div class="alert alert-danger" *ngIf="error; else content">
    Une erreur est survenue.
    <br>
    Retenter plus tard ou contacter un administrateur.
  </div>
</ng-template>

<ng-template #content>
  <h4>Grenoble</h4>
  <div class='list-card' *ngIf="_eventsGre.length>0; else nodata1">
      <mat-card class="card" *ngFor="let item of _eventsGre" (click)="openCard(item)">
          <mat-card-header>
            <img mat-card-avatar *ngIf="item.imgPath != ''" [src]="imgFolderPath + item.imgPath" alt="Avatar {{ item.name }}">
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle *ngIf="item.date">{{ item.date | date:'EEEE d MMMM y':'+0200':'fr' }}</mat-card-subtitle>
          </mat-card-header>
      </mat-card>
  </div>
  <!-- No data -->
  <ng-template #nodata1>
    <div class="alert alert-warning" *ngIf="!error; else err">
      <p>Il n'y a aucune donnée pour le moment</p>
    </div>
  </ng-template>

  <h4>Réseau Polytech</h4>
  <div class='list-card' *ngIf="_eventsReseau.length>0; else nodata2">
    <mat-card class="card" *ngFor="let item of _eventsReseau">
        <mat-card-header>
          <img mat-card-avatar *ngIf="item.imgPath" [src]="imgFolderPath + item.imgPath" alt="Avatar {{ item.name }}">
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>{{ item.place }} - {{ item.date | date:'EEEE d MMMM y':'+0200':'fr' }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
  </div>
  <!-- No data -->
  <ng-template #nodata2>
    <div class="alert alert-warning" *ngIf="!error; else err">
      <p>Il n'y a aucune donnée pour le moment</p>
    </div>
  </ng-template>
</ng-template>