<h1>Emploi du temps</h1>

<!-- <div class="alert alert-danger">
    <p>Bientôt valable pour l'année 2020-2021</p>
</div> -->

<mat-sidenav-container>
    <mat-sidenav-container class="container">
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</mat-sidenav-container>
