::ng-deep.mat-dialog-actions {
    padding: 0% 0%;
}

.follow-us-component {
    text-align: center;
    height: 50%;
}

.list-icon {
    min-width: fit-content;
    text-align: center;
}

.icon {
    max-width: 10%;
    max-height: 10%;
    border-radius: 50%;
    margin: 1%;
}