<div class="follow-us-component">
    <small>Follow us</small>
    <div *ngIf="_links" class="list-icon">
        <ng-template ngFor let-swn [ngForOf]="_links">              
            <a *ngIf="swn.type == eLinkType.Facebook" (click)="open(swn)" [title]="swn.title"><img [src]="imgFb" alt="icon-facebook" class="icon"></a>
            <a *ngIf="swn.type == eLinkType.Instagram" (click)="open(swn)" [title]="swn.title"><img [src]="imgInsta" alt="icon-instagram" class="icon"></a>
            <a *ngIf="swn.type == eLinkType.Snapchat" (click)="open(swn)" [title]="swn.title"><img [src]="imgSnap" alt="icon-snapchat" class="icon"></a>
            <a *ngIf="swn.type == eLinkType.Telegram" (click)="open(swn)" [title]="swn.title"><img [src]="imgTelegam" alt="icon-telegram" class="icon"></a>
            <a *ngIf="swn.type == eLinkType.Mail" (click)="open(swn)" [title]="swn.title"><img [src]="imgMail" alt="icon-mail" class="icon"></a>
            <a *ngIf="swn.type == eLinkType.Linkedin" (click)="open(swn)" [title]="swn.title"><img [src]="imgLinkedin" alt="icon-linkedin" class="icon"></a>
            <a *ngIf="swn.type == eLinkType.WebSite" (click)="open(swn)" [title]="swn.title"><img [src]="imgSiteWeb" alt="icon-webSite" class="icon"></a>
        </ng-template>        
    </div>
    <div *ngIf="!_links" class="list-icon">
        <small>No Social Network</small>
    </div>
</div>
