<div class='container'>
  <div *ngIf="!load; else err">
    <mat-spinner color="primary">
    </mat-spinner>
  </div>

  <!-- Error -->
  <ng-template #err>
    <div class="alert alert-danger" *ngIf="error; else content">
      Une erreur est survenue.
      <br>
      Retenter plus tard ou contacter un administrateur.
      <br>
      (L'EDT n'est pas accéssible de 00h à 6h)
    </div>
  </ng-template>

  <ng-template #content>
    <div>
      <full-calendar #calendar [options]="calendarOption"></full-calendar>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            EDT Information
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <!-- À jour depuis au moins {{calInfos[0]["updated"] | date:"dd/MM/yy HH:mm"}} -->
        </div>
        <div *ngFor="let item of calInfos" [ngStyle]="{'display': 'inline-block', 'padding-right': '5%'}">
          <h4 mat-line [ngStyle]="{'margin-bottom': '5px'}">
            {{item.name}}
          </h4>
          <p mat-line [ngStyle]="{'margin-top': '0px'}">
            {{item.updated | date:"dd/MM/yy HH:mm"}}
          </p>
        </div>
        <div>
          <button mat-button (click)="navigateChild('pick')" class="btn">Reset My Information</button>
        </div>
      </mat-expansion-panel>
    </div>
  </ng-template>
</div>
