<a mat-list-item routerLink="/home" routerLinkActive='true'>Accueil</a>
<a mat-list-item routerLink="/news">Les Actualités</a>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Infos
    </mat-panel-title>
  </mat-expansion-panel-header>
  <a mat-list-item routerLink="/associations" routerLinkActive='true'>Associations</a>
  <a mat-list-item routerLink="/branchs">Les fillières</a>
  <a mat-list-item routerLink="/events">Evènements</a>
  <a mat-list-item routerLink="/the-city">Grenoble</a>
  <a mat-list-item routerLink="/partnerships">Partenariats</a>
  <a mat-list-item routerLink="/discount-cards">Carte de réduction</a>
  <a mat-list-item routerLink="/songs">Chansons</a>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Outils
    </mat-panel-title>
  </mat-expansion-panel-header>
  <a mat-list-item routerLink="/agenda">EDT</a>
  <a mat-list-item routerLink="/shortcuts">Raccourcis</a>
  <a mat-list-item routerLink="/contact">Contact</a>
</mat-expansion-panel>


